# 💾 Java & Spring Boot
target/
build/
out/
bin/
*.class
*.war
*.ear
*.jar

# 🚀 Maven
.mvn/
.settings/
.classpath
.project
dependency-reduced-pom.xml
release.properties

# 📦 Node.js & React
node_modules/
npm-debug.log*
yarn-error.log
.pnp/
.pnp.js
.next/  # если Next.js
out/
dist/
build/
.DS_Store

#⚙️ IDE & Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# ⚙️ Logs & Debugging
debug.log
*.log
logs/
nohup.out

#⚡ Env & Secrets
.env
*.env
secrets.json

#🔄 Git & Deployment
*.pem
*.crt
*.key
